.gradient {
  position: relative;
  background-image: linear-gradient(
    135deg,
    rgba(255, 0, 61, 0.1),
    rgba(108, 10, 168, 0.1),
    rgba(10, 86, 168, 0.1)
  );
}

.gradient:hover {
  background-image: linear-gradient(
    135deg,
    rgba(255, 0, 61, 0.2),
    rgba(108, 10, 168, 0.2),
    rgba(10, 86, 168, 0.2)
  );
}

.gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  border: 2px solid transparent;
  background: linear-gradient(
      135deg,
      rgba(10, 137, 168, 0.7),
      rgba(108, 10, 168, 0.7),
      rgba(168, 10, 48, 0.7)
    )
    border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.gradient:hover::before {
  background: linear-gradient(
      135deg,
      rgba(10, 137, 168, 0.9),
      rgba(108, 10, 168, 0.9),
      rgba(168, 10, 48, 0.9)
    )
    border-box;
}
